In [11]:
"""
Advent of Code 2018
https://adventofcode.com/2018

Day 1
Part 2
"""

#Set up
import pandas as pd
df = pd.read_csv('input', header=None, names=['Frequency'])
df.head()

   Frequency
0         13
1         -3
2         -8
3         14
4         16

In [16]:
#Initialise some vars
current_frequency = 0
frequencies = {current_frequency}
found = False

#This will let us loop throuhg the list more than once
while not found:
    #Loop through the list of frequency changes
    for freq_change in df.Frequency:
        #Work out the new frequency
        current_frequency += freq_change
        #If it's already in the set, we're done
        if current_frequency in frequencies:
            found = True
            break
        #Otherwise add it to the set and move on
        else:
            frequencies.add(current_frequency)

#Print out nicely     
print("It took {:,} frequency changes to find the first repeat.\
      \nFirst repeated frequency: {:,}".format(len(frequencies), current_frequency))

It took 133,728 frequency changes to find the first repeat.
First repeated frequency: 341